In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

## **NLP Experiments - Feature Engineering**

In [ ]:
import pandas as pd
import numpy as np
df= pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/NLP_Experiments_Feature_Engineering_Actual_Values.csv', encoding='ISO-8859-1')
df.head()

       Property  ...                                          Ex20_Nb29
0  Construction  ...                                                NaN
1  Construction  ...  Filling NaN/Null Values, Cleaning Special Char...
2  Construction  ...                                                NaN
3  Construction  ...                                                NaN
4  Construction  ...                                                NaN

[5 rows x 22 columns]

In [ ]:
#Calculating sparseness of experiment data
df.isnull().sum()/len(df)*100

Property      0.000000
Dimension     0.000000
Ex1_Nb4      42.105263
Ex2_Nb42     31.578947
Ex3_Nb45     42.105263
Ex4_Nb46     36.842105
Ex5_Nb8      36.842105
Ex6_Nb12     47.368421
Ex7_Nb20     36.842105
Ex8_Nb48     47.368421
Ex9_Nb49     36.842105
Ex10_Nb9     42.105263
Ex11_Nb10    36.842105
Ex12_Nb30    36.842105
Ex13_Nb32    36.842105
Ex14_Nb34    57.894737
Ex15_Nb41    31.578947
Ex16_Nb13    42.105263
Ex17_Nb19    47.368421
Ex18_Nb21    31.578947
Ex19_Nb26    52.631579
Ex20_Nb29    52.631579
dtype: float64

In [ ]:
for col in df.columns:
    print(col)

Property
Dimension
Ex1_Nb4
Ex2_Nb42
Ex3_Nb45
Ex4_Nb46
Ex5_Nb8
Ex6_Nb12
Ex7_Nb20
Ex8_Nb48
Ex9_Nb49
Ex10_Nb9
Ex11_Nb10
Ex12_Nb30
Ex13_Nb32
Ex14_Nb34
Ex15_Nb41
Ex16_Nb13
Ex17_Nb19
Ex18_Nb21
Ex19_Nb26
Ex20_Nb29

In [ ]:
df_dropped_property = df.drop(columns="Property")
df_dropped_property = df_dropped_property.set_index("Dimension")
df_transposed = df_dropped_property.T
df_transposed.head()

Dimension Word Embedding - Glove/FastText/Paragram/Word2Vec  ... Number of Experiments
Ex1_Nb4                           Glove, FastText, Paragram  ...                     5
Ex2_Nb42                                           FastText  ...                     5
Ex3_Nb45                          Glove, FastText, Paragram  ...                     1
Ex4_Nb46                                                NaN  ...                     4
Ex5_Nb8                           Glove, FastText, Paragram  ...                     1

[5 rows x 19 columns]

In [ ]:
df_transposed.columns = ['Word_Embedding', 'Data_Cleaning_Steps', 'Training_Time',
       'Train_Accuracy', 'Train_F1_Score', 'Validation_Accuracy',
       'Validation_F1_Score', 'Test_Accuracy', 'Test_F1_Score',
       'Delta_Between_Validation_Test', 'Memory', 'Processing_Unit',
       'Physical_Size', 'Length', 'Type', 'Vote_Count', 'Source',
       'Last_Modified_Time', 'Number_Of_Experiments']

In [ ]:
df_transposed.dtypes

Word_Embedding                   object
Data_Cleaning_Steps              object
Training_Time                    object
Train_Accuracy                   object
Train_F1_Score                   object
Validation_Accuracy              object
Validation_F1_Score              object
Test_Accuracy                    object
Test_F1_Score                    object
Delta_Between_Validation_Test    object
Memory                           object
Processing_Unit                  object
Physical_Size                    object
Length                           object
Type                             object
Vote_Count                       object
Source                           object
Last_Modified_Time               object
Number_Of_Experiments            object
dtype: object

In [ ]:
df_transposed.describe
df_transposed.head
df_transposed.columns

Index(['Word_Embedding', 'Data_Cleaning_Steps', 'Training_Time',
       'Train_Accuracy', 'Train_F1_Score', 'Validation_Accuracy',
       'Validation_F1_Score', 'Test_Accuracy', 'Test_F1_Score',
       'Delta_Between_Validation_Test', 'Memory', 'Processing_Unit',
       'Physical_Size', 'Length', 'Type', 'Vote_Count', 'Source',
       'Last_Modified_Time', 'Number_Of_Experiments'],
      dtype='object')

In [ ]:
df_transposed["Training_Time"] = pd.to_numeric(df_transposed["Training_Time"], errors='coerce');
df_transposed["Train_Accuracy"] = pd.to_numeric(df_transposed["Train_Accuracy"], errors='coerce');
df_transposed["Train_F1_Score"] = pd.to_numeric(df_transposed["Train_F1_Score"], errors='coerce');
df_transposed["Validation_Accuracy"] = pd.to_numeric(df_transposed["Validation_Accuracy"], errors='coerce');
df_transposed["Validation_F1_Score"] = pd.to_numeric(df_transposed["Validation_F1_Score"], errors='coerce');
df_transposed["Test_Accuracy"] = pd.to_numeric(df_transposed["Test_Accuracy"], errors='coerce');
df_transposed["Test_F1_Score"] = pd.to_numeric(df_transposed["Test_F1_Score"], errors='coerce');
df_transposed["Physical_Size"] = pd.to_numeric(df_transposed["Physical_Size"], errors='coerce');
df_transposed["Vote_Count"] = pd.to_numeric(df_transposed["Vote_Count"], errors='coerce');
df_transposed["Number_Of_Experiments"] = pd.to_numeric(df_transposed["Number_Of_Experiments"], errors='coerce');

In [ ]:
pd.to_numeric(df_transposed["Training_Time"])

Ex1_Nb4         NaN
Ex2_Nb42       72.0
Ex3_Nb45      248.0
Ex4_Nb46      146.0
Ex5_Nb8         NaN
Ex6_Nb12      275.0
Ex7_Nb20     2470.0
Ex8_Nb48      240.0
Ex9_Nb49        NaN
Ex10_Nb9      206.0
Ex11_Nb10      55.0
Ex12_Nb30      92.0
Ex13_Nb32     138.0
Ex14_Nb34       NaN
Ex15_Nb41    3121.0
Ex16_Nb13     141.0
Ex17_Nb19    1731.0
Ex18_Nb21    1475.0
Ex19_Nb26     591.0
Ex20_Nb29       NaN
Name: Training_Time, dtype: float64

In [ ]:
res = df_transposed["Training_Time"]
res

Ex1_Nb4         NaN
Ex2_Nb42       72.0
Ex3_Nb45      248.0
Ex4_Nb46      146.0
Ex5_Nb8         NaN
Ex6_Nb12      275.0
Ex7_Nb20     2470.0
Ex8_Nb48      240.0
Ex9_Nb49        NaN
Ex10_Nb9      206.0
Ex11_Nb10      55.0
Ex12_Nb30      92.0
Ex13_Nb32     138.0
Ex14_Nb34       NaN
Ex15_Nb41    3121.0
Ex16_Nb13     141.0
Ex17_Nb19    1731.0
Ex18_Nb21    1475.0
Ex19_Nb26     591.0
Ex20_Nb29       NaN
Name: Training_Time, dtype: float64

In [ ]:
print("Median of Training Time", res.median())
print("Max of Training Time", res.max())
print("Min of Training Time", res.min())

Median of Training Time 240.0
Max of Training Time 3121.0
Min of Training Time 55.0

In [ ]:
#MinMax Scaling
import numpy as np
 
x = np.arange(start=0, stop=df_transposed["Training_Time"].size, step=1)
print(x)

for i in x:
  y = df_transposed["Training_Time"][i]
  print("i is ", i)
  print("y is ", y)
  y_std = (y - res.min())/(res.max() - res.min())
  y_scaled = y_std * (2 - (-2)) + (-2)  #latest scale is max = 2 and min (-2)
  print("rank is ", y_scaled)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
i is  0
y is  nan
rank is  nan
i is  1
y is  72.0
rank is  -1.9778212654924983
i is  2
y is  248.0
rank is  -1.7482061317677755
i is  3
y is  146.0
rank is  -1.8812785388127855
i is  4
y is  nan
rank is  nan
i is  5
y is  275.0
rank is  -1.7129810828440966
i is  6
y is  2470.0
rank is  1.1506849315068495
i is  7
y is  240.0
rank is  -1.7586431833007174
i is  8
y is  nan
rank is  nan
i is  9
y is  206.0
rank is  -1.803000652315721
i is  10
y is  55.0
rank is  -2.0
i is  11
y is  92.0
rank is  -1.9517286366601434
i is  12
y is  138.0
rank is  -1.8917155903457274
i is  13
y is  nan
rank is  nan
i is  14
y is  3121.0
rank is  2.0
i is  15
y is  141.0
rank is  -1.887801696020874
i is  16
y is  1731.0
rank is  0.18656229615133713
i is  17
y is  1475.0
rank is  -0.14742335290280506
i is  18
y is  591.0
rank is  -1.3007175472928898
i is  19
y is  nan
rank is  nan

In [ ]:
#X_std = (X - X.min(axis=0)) / (X.max(axis=0) - X.min(axis=0))
#X_scaled = X_std * (max - min) + min

In [ ]:
df_transposed["Train_Accuracy"]

Ex1_Nb4         NaN
Ex2_Nb42     0.8734
Ex3_Nb45        NaN
Ex4_Nb46     0.9506
Ex5_Nb8         NaN
Ex6_Nb12        NaN
Ex7_Nb20     0.9760
Ex8_Nb48        NaN
Ex9_Nb49        NaN
Ex10_Nb9        NaN
Ex11_Nb10    0.9612
Ex12_Nb30    0.9478
Ex13_Nb32    0.9642
Ex14_Nb34       NaN
Ex15_Nb41    0.9829
Ex16_Nb13       NaN
Ex17_Nb19    0.9832
Ex18_Nb21    0.9792
Ex19_Nb26       NaN
Ex20_Nb29       NaN
Name: Train_Accuracy, dtype: float64

In [ ]:
df_transposed["Train_Accuracy"].mean()

0.957611111111111

In [ ]:
df_transposed["Train_F1_Score"]

Ex1_Nb4      0.6569
Ex2_Nb42        NaN
Ex3_Nb45        NaN
Ex4_Nb46        NaN
Ex5_Nb8         NaN
Ex6_Nb12        NaN
Ex7_Nb20        NaN
Ex8_Nb48        NaN
Ex9_Nb49        NaN
Ex10_Nb9        NaN
Ex11_Nb10       NaN
Ex12_Nb30       NaN
Ex13_Nb32       NaN
Ex14_Nb34       NaN
Ex15_Nb41       NaN
Ex16_Nb13       NaN
Ex17_Nb19       NaN
Ex18_Nb21       NaN
Ex19_Nb26       NaN
Ex20_Nb29       NaN
Name: Train_F1_Score, dtype: float64

In [ ]:
df_transposed["Train_F1_Score"].mean()

0.6569

In [ ]:
df_transposed["Validation_Accuracy"]

Ex1_Nb4         NaN
Ex2_Nb42     0.8618
Ex3_Nb45        NaN
Ex4_Nb46     0.9528
Ex5_Nb8         NaN
Ex6_Nb12        NaN
Ex7_Nb20     0.9768
Ex8_Nb48        NaN
Ex9_Nb49        NaN
Ex10_Nb9        NaN
Ex11_Nb10    0.9597
Ex12_Nb30    0.9460
Ex13_Nb32    0.9672
Ex14_Nb34       NaN
Ex15_Nb41    0.9825
Ex16_Nb13       NaN
Ex17_Nb19       NaN
Ex18_Nb21    0.9821
Ex19_Nb26       NaN
Ex20_Nb29       NaN
Name: Validation_Accuracy, dtype: float64

In [ ]:
df_transposed["Validation_Accuracy"].mean()

0.9536125

In [ ]:
df_transposed["Validation_F1_Score"]

Ex1_Nb4         NaN
Ex2_Nb42        NaN
Ex3_Nb45        NaN
Ex4_Nb46        NaN
Ex5_Nb8      0.6745
Ex6_Nb12        NaN
Ex7_Nb20        NaN
Ex8_Nb48        NaN
Ex9_Nb49     0.6771
Ex10_Nb9        NaN
Ex11_Nb10       NaN
Ex12_Nb30       NaN
Ex13_Nb32       NaN
Ex14_Nb34       NaN
Ex15_Nb41       NaN
Ex16_Nb13       NaN
Ex17_Nb19       NaN
Ex18_Nb21       NaN
Ex19_Nb26       NaN
Ex20_Nb29       NaN
Name: Validation_F1_Score, dtype: float64

In [ ]:
df_transposed["Validation_F1_Score"].mean()

0.6758

In [ ]:
df_transposed["Test_Accuracy"]

Ex1_Nb4     NaN
Ex2_Nb42    NaN
Ex3_Nb45    NaN
Ex4_Nb46    NaN
Ex5_Nb8     NaN
Ex6_Nb12    NaN
Ex7_Nb20    NaN
Ex8_Nb48    NaN
Ex9_Nb49    NaN
Ex10_Nb9    NaN
Ex11_Nb10   NaN
Ex12_Nb30   NaN
Ex13_Nb32   NaN
Ex14_Nb34   NaN
Ex15_Nb41   NaN
Ex16_Nb13   NaN
Ex17_Nb19   NaN
Ex18_Nb21   NaN
Ex19_Nb26   NaN
Ex20_Nb29   NaN
Name: Test_Accuracy, dtype: float64

In [ ]:
df_transposed["Test_F1_Score"]

Ex1_Nb4         NaN
Ex2_Nb42        NaN
Ex3_Nb45        NaN
Ex4_Nb46        NaN
Ex5_Nb8      0.6539
Ex6_Nb12        NaN
Ex7_Nb20        NaN
Ex8_Nb48        NaN
Ex9_Nb49     0.6923
Ex10_Nb9        NaN
Ex11_Nb10       NaN
Ex12_Nb30       NaN
Ex13_Nb32       NaN
Ex14_Nb34       NaN
Ex15_Nb41       NaN
Ex16_Nb13       NaN
Ex17_Nb19       NaN
Ex18_Nb21       NaN
Ex19_Nb26       NaN
Ex20_Nb29       NaN
Name: Test_F1_Score, dtype: float64

In [ ]:
df_transposed["Delta_Between_Validation_Test"]

Ex1_Nb4      NaN
Ex2_Nb42     NaN
Ex3_Nb45     NaN
Ex4_Nb46     NaN
Ex5_Nb8      NaN
Ex6_Nb12     NaN
Ex7_Nb20     NaN
Ex8_Nb48     NaN
Ex9_Nb49     NaN
Ex10_Nb9     NaN
Ex11_Nb10    NaN
Ex12_Nb30    NaN
Ex13_Nb32    NaN
Ex14_Nb34    NaN
Ex15_Nb41    NaN
Ex16_Nb13    NaN
Ex17_Nb19    NaN
Ex18_Nb21    NaN
Ex19_Nb26    NaN
Ex20_Nb29    NaN
Name: Delta_Between_Validation_Test, dtype: object

In [ ]:
df_transposed["Memory"]

Ex1_Nb4      NaN
Ex2_Nb42     NaN
Ex3_Nb45     NaN
Ex4_Nb46     NaN
Ex5_Nb8      NaN
Ex6_Nb12     NaN
Ex7_Nb20     NaN
Ex8_Nb48     NaN
Ex9_Nb49     NaN
Ex10_Nb9     NaN
Ex11_Nb10    NaN
Ex12_Nb30    NaN
Ex13_Nb32    NaN
Ex14_Nb34    NaN
Ex15_Nb41    NaN
Ex16_Nb13    NaN
Ex17_Nb19    NaN
Ex18_Nb21    NaN
Ex19_Nb26    NaN
Ex20_Nb29    NaN
Name: Memory, dtype: object

In [ ]:
df_transposed["Physical_Size"] #Physical size of data set in hard disk

Ex1_Nb4       6.11
Ex2_Nb42      4.45
Ex3_Nb45      6.11
Ex4_Nb46      6.11
Ex5_Nb8       6.11
Ex6_Nb12      6.11
Ex7_Nb20      3.96
Ex8_Nb48      6.11
Ex9_Nb49      6.11
Ex10_Nb9      6.11
Ex11_Nb10     6.11
Ex12_Nb30     3.34
Ex13_Nb32     6.42
Ex14_Nb34     8.35
Ex15_Nb41     9.76
Ex16_Nb13     6.11
Ex17_Nb19     0.05
Ex18_Nb21     0.21
Ex19_Nb26    11.68
Ex20_Nb29    11.68
Name: Physical_Size, dtype: float64

In [ ]:
df_transposed["Physical_Size"].mean()

6.05

In [ ]:
df_transposed["Vote_Count"]

NameError: ignored

In [ ]:
df_transposed["Vote_Count"].mean()

322.2

In [ ]:
df_transposed["Last_Modified_Time"].value_counts() #Based on value counts, mean is 2.3 years ago

2 years ago    15
3 years ago     5
Name: Last_Modified_Time, dtype: int64

In [ ]:
df_transposed["Number_Of_Experiments"] #This is for notebook level

Ex1_Nb4      5
Ex2_Nb42     5
Ex3_Nb45     1
Ex4_Nb46     4
Ex5_Nb8      1
Ex6_Nb12     1
Ex7_Nb20     3
Ex8_Nb48     1
Ex9_Nb49     1
Ex10_Nb9     1
Ex11_Nb10    1
Ex12_Nb30    1
Ex13_Nb32    1
Ex14_Nb34    1
Ex15_Nb41    1
Ex16_Nb13    1
Ex17_Nb19    1
Ex18_Nb21    1
Ex19_Nb26    1
Ex20_Nb29    1
Name: Number_Of_Experiments, dtype: int64

In [ ]:
df_transposed["Number_Of_Experiments"].mean()

1.65

# **NLP Experiments - Model Selection**

In [ ]:
df_nlp_model_selection = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/NLP_Experiments_Model_Selection.csv', encoding='ISO-8859-1')
df_nlp_model_selection.head()

       Property  ... Experi_20
0  Construction  ...         0
1  Construction  ...         0
2  Construction  ...       NaN
3  Construction  ...         0
4  Construction  ...         0

[5 rows x 22 columns]

In [ ]:
#Calculating sparseness of experiment data
df_nlp_model_selection.isnull().sum()/len(df)*100

Property      0.000000
Dimension     0.000000
Experi_1     31.578947
Experi_2     36.842105
Experi_3     36.842105
Experi_4     36.842105
Experi_5     36.842105
Experi_6     42.105263
Experi_7     36.842105
Experi_8     36.842105
Experi_9     36.842105
Experi_10    42.105263
Experi_11    31.578947
Experi_12    57.894737
Experi_13    57.894737
Experi_14    78.947368
Experi_15    63.157895
Experi_16    42.105263
Experi_17    42.105263
Experi_18    42.105263
Experi_19    42.105263
Experi_20    57.894737
dtype: float64