In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

## **Time Series Experiments - Model Selection**

In [34]:
import pandas as pd
import numpy as np
df= pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/TS_Experiments_Model Selection_Actual Values.csv', encoding='ISO-8859-1')
df.head()

       Property  ... Ex20_Nb20
0  Construction  ...       NaN
1  Construction  ...       NaN
2  Construction  ...       NaN
3  Construction  ...       NaN
4  Construction  ...       NaN

[5 rows x 22 columns]

In [35]:
#Calculating sparseness of experiment data
df.isnull().sum()/len(df)*100

Property      0.000000
Dimension     0.000000
Ex1_Nb1      63.636364
Ex2_Nb2      63.636364
Ex3_Nb3      75.757576
Ex4_Nb4      75.757576
Ex5_Nb5      72.727273
Ex6_Nb6      75.757576
Ex7_Nb7      75.757576
Ex8_Nb8      75.757576
Ex9_Nb9      63.636364
Ex10_Nb10    69.696970
Ex11_Nb11    69.696970
Ex12_Nb12    75.757576
Ex13_Nb13    69.696970
Ex14_Nb14    75.757576
Ex15_Nb15    72.727273
Ex16_Nb16    75.757576
Ex17_Nb17    69.696970
Ex18_Nb18    72.727273
Ex19_Nb19    66.666667
Ex20_Nb20    75.757576
dtype: float64

In [36]:
for col in df.columns:
    print(col)

Property
Dimension
Ex1_Nb1
Ex2_Nb2
Ex3_Nb3
Ex4_Nb4
Ex5_Nb5
Ex6_Nb6
Ex7_Nb7
Ex8_Nb8
Ex9_Nb9
Ex10_Nb10
Ex11_Nb11
Ex12_Nb12
Ex13_Nb13
Ex14_Nb14
Ex15_Nb15
Ex16_Nb16
Ex17_Nb17
Ex18_Nb18
Ex19_Nb19
Ex20_Nb20

In [37]:
df_dropped_property = df.drop(columns="Property")
df_dropped_property = df_dropped_property.set_index("Dimension")
df_transposed = df_dropped_property.T
df_transposed.head()

Dimension Choice of Metrics - Binary Cross Entropy  ... Number of Experiments
Ex1_Nb1                                        NaN  ...                     7
Ex2_Nb2                                        NaN  ...                     5
Ex3_Nb3                                        NaN  ...                     1
Ex4_Nb4                                        NaN  ...                     1
Ex5_Nb5                                        NaN  ...                     6

[5 rows x 33 columns]

In [41]:
df_copy = df_transposed.copy()
df_copy.rename (columns = {'Choice of Metrics - Binary Cross Entropy':'Binary_Cross_Entropy',
                                      'Choice of Metrics - Categorical Cross Entropy': 'Categorical_Cross_Entropy', 
                                      'Choice of Metrics - Accuracy': 'Accuracy', 
                                      'Choice of Metrics - F1 Score': 'F1_Score', 
                                      'Choice of Metrics - Mean Absolute Error': 'Mean_Absolute_Error', 
                                      'Choice of Metrics - Root Mean Squared Error': 'Root_Mean_Squared_Error', 
                                      'Choice of Metrics - Model Validation Strategy - KFold': 'KFold', 
                                      'Choice of Metrics - Model Validation Strategy - Stratified KFold': 'Stratified_KFold', 
                                      'Choice of Metrics - Model Validation Strategy - Repeated KFold': 'Repeated_KFold',
                                      'Training Time (1st epoch in seconds)': 'Training_Time',
                                      'Evaluation Metrics (Train) - Accuracy at last epoch of last batch': 'Train_Accuracy',
                                      'Evaluation Metrics (Train) - F1 Score At threshold level 0.5': 'Train_F1_Score',
                                      'Evaluation Metrics (Train) - Mean Absolute Error': 'Train_Mean_Absolute_Error',
                                      'Evaluation Metrics (Train) - Mean Squared Error': 'Train_Mean_Squared_Error',
                                      'Evaluation Metrics (Train) - Root Mean Squared Error': 'Train_Root_Mean_Squared_Error',
                                      'Evaluation Metrics (Validation) - Accuracy at last epoch of last batch': 'Validation_Accuracy',
                                      'Evaluation Metrics (Validation) - F1 Score At threshold level 0.5': 'Validation_F1_Score',
                                      'Evaluation Metrics (Test) - Accuracy at last epoch of last batch': 'Test_Accuracy',
                                      'Evaluation Metrics (Test) - F1 Score At threshold level 0.5': 'Test_F1_Score',
                                      'Evaluation Metrics (Test) - Mean Absolute Error': 'Test_Mean_Absolute_Error',
                                      'Evaluation Metrics (Test) - Mean Squared Error': 'Test_Mean_Squared_Error',
                                      'Evaluation Metrics (Test) - Root Mean Squared Error': 'Test_Root_Mean_Squared_Error',
                                      'Evaluation Metrics (Test) - Root Mean Squared Error Loss': 'Test_Root_Mean_Sqaured_Error_Loss',
                                      'Delta between Validation and Test': 'Delta_Between_Validation_And_Test',
                                      'Memory': 'Memory', 
                                      'Processing Unit (CPU/GPU/TPU)': 'Processing_Unit',
                                      'Size (MB)': 'Physical_Size',
                                      'Length (DD/MM/YYYY HH:MM:SS+MS)': 'Length',
                                      'Type': 'Type',
                                      'Popularity - Number of Votes': 'Vote_Count',	
                                      'Source': 'Source', 	
                                      'Last Modified Time': 'Last_Modified_Time',
                                      'Number of Experiments': 'Number_of_Experiments'
                                       }, inplace=True)
df_copy

Dimension Binary_Cross_Entropy  ... Number_of_Experiments
Ex1_Nb1                    NaN  ...                     7
Ex2_Nb2                    NaN  ...                     5
Ex3_Nb3                    NaN  ...                     1
Ex4_Nb4                    NaN  ...                     1
Ex5_Nb5                    NaN  ...                     6
Ex6_Nb6                    NaN  ...                     1
Ex7_Nb7                    NaN  ...                     1
Ex8_Nb8                    NaN  ...                     1
Ex9_Nb9                    NaN  ...                     4
Ex10_Nb10                  NaN  ...                     1
Ex11_Nb11                  NaN  ...                     1
Ex12_Nb12                  NaN  ...                     1
Ex13_Nb13                  NaN  ...                     1
Ex14_Nb14                  NaN  ...                     5
Ex15_Nb15                  NaN  ...                     1
Ex16_Nb16                  NaN  ...                     1
Ex17_Nb17                  NaN  ...                     4
Ex18_Nb18                  NaN  ...                     1
Ex19_Nb19                  NaN  ...                     1
Ex20_Nb20                  NaN  ...                     1

[20 rows x 33 columns]

In [42]:
df_copy.dtypes

Dimension
Binary_Cross_Entropy                            object
Categorical_Cross_Entropy                       object
Accuracy                                        object
F1_Score                                        object
Mean_Absolute_Error                             object
Root_Mean_Squared_Error                         object
Model Validation Strategy - KFold               object
Model Validation Strategy - Stratified KFold    object
Model Validation Strategy - Repeated KFold      object
Training Time (1st epoch in seconds)            object
Train_Accuracy                                  object
Train_F1_Score                                  object
Train_Mean_Absolute_Error                       object
Train_Mean_Squared_Error                        object
Train_Root_Mean_Squared_Error                   object
Validation_Accuracy                             object
Validation_F1_Score                             object
Test_Accuracy                                   object
Test_F1_Score                                   object
Test_Mean_Absolute_Error                        object
Train_Mean_Squared_Error                        object
Test_Root_Mean_Squared_Error                    object
Test_Root_Mean_Sqaured_Error_Loss               object
Delta_Between_Validation_And_Test               object
Memory                                          object
Processing_Unit                                 object
Physical_Size                                   object
Length                                          object
Type                                            object
Vote_Count                                      object
Source                                          object
Last_Modified_Time                              object
Number_of_Experiments                           object
dtype: object

In [43]:
df_copy.describe
df_copy.head
df_copy.columns

Index(['Binary_Cross_Entropy', 'Categorical_Cross_Entropy', 'Accuracy',
       'F1_Score', 'Mean_Absolute_Error', 'Root_Mean_Squared_Error',
       'Model Validation Strategy - KFold',
       'Model Validation Strategy - Stratified KFold',
       'Model Validation Strategy - Repeated KFold',
       'Training Time (1st epoch in seconds)  ', 'Train_Accuracy',
       'Train_F1_Score', 'Train_Mean_Absolute_Error',
       'Train_Mean_Squared_Error', 'Train_Root_Mean_Squared_Error',
       'Validation_Accuracy', 'Validation_F1_Score', 'Test_Accuracy',
       'Test_F1_Score', 'Test_Mean_Absolute_Error', 'Train_Mean_Squared_Error',
       'Test_Root_Mean_Squared_Error', 'Test_Root_Mean_Sqaured_Error_Loss',
       'Delta_Between_Validation_And_Test', 'Memory', 'Processing_Unit',
       'Physical_Size', 'Length', 'Type', 'Vote_Count', 'Source',
       'Last_Modified_Time', 'Number_of_Experiments'],
      dtype='object', name='Dimension')

In [44]:
df_copy["Train_Accuracy"] = pd.to_numeric(df_copy["Train_Accuracy"], errors='coerce');
df_copy["Train_F1_Score"] = pd.to_numeric(df_copy["Train_F1_Score"], errors='coerce');
df_copy["Validation_Accuracy"] = pd.to_numeric(df_copy["Validation_Accuracy"], errors='coerce');
df_copy["Validation_F1_Score"] = pd.to_numeric(df_copy["Validation_F1_Score"], errors='coerce');
df_copy["Test_Accuracy"] = pd.to_numeric(df_copy["Test_Accuracy"], errors='coerce');
df_copy["Test_F1_Score"] = pd.to_numeric(df_copy["Test_F1_Score"], errors='coerce');
df_copy["Physical_Size"] = pd.to_numeric(df_copy["Physical_Size"], errors='coerce');
df_copy["Vote_Count"] = pd.to_numeric(df_copy["Vote_Count"], errors='coerce');
df_copy["Number_Of_Experiments"] = pd.to_numeric(df_copy["Number_of_Experiments"], errors='coerce');

In [27]:
pd.to_numeric(df_copy["Training_Time"])

KeyError: ignored

In [28]:
res = df_copy["Training_Time"]
res

KeyError: ignored

In [ ]:
print("Median of Training Time", res.median())
print("Max of Training Time", res.max())
print("Min of Training Time", res.min())

Median of Training Time 240.0
Max of Training Time 3121.0
Min of Training Time 55.0

In [ ]:
#MinMax Scaling
import numpy as np
 
x = np.arange(start=0, stop=df_transposed["Training_Time"].size, step=1)
print(x)

for i in x:
  y = df_transposed["Training_Time"][i]
  print("i is ", i)
  print("y is ", y)
  y_std = (y - res.min())/(res.max() - res.min())
  y_scaled = y_std * (2 - (-2)) + (-2)  #latest scale is max = 2 and min (-2)
  print("rank is ", y_scaled)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
i is  0
y is  nan
rank is  nan
i is  1
y is  72.0
rank is  -1.9778212654924983
i is  2
y is  248.0
rank is  -1.7482061317677755
i is  3
y is  146.0
rank is  -1.8812785388127855
i is  4
y is  nan
rank is  nan
i is  5
y is  275.0
rank is  -1.7129810828440966
i is  6
y is  2470.0
rank is  1.1506849315068495
i is  7
y is  240.0
rank is  -1.7586431833007174
i is  8
y is  nan
rank is  nan
i is  9
y is  206.0
rank is  -1.803000652315721
i is  10
y is  55.0
rank is  -2.0
i is  11
y is  92.0
rank is  -1.9517286366601434
i is  12
y is  138.0
rank is  -1.8917155903457274
i is  13
y is  nan
rank is  nan
i is  14
y is  3121.0
rank is  2.0
i is  15
y is  141.0
rank is  -1.887801696020874
i is  16
y is  1731.0
rank is  0.18656229615133713
i is  17
y is  1475.0
rank is  -0.14742335290280506
i is  18
y is  591.0
rank is  -1.3007175472928898
i is  19
y is  nan
rank is  nan

In [ ]:
#X_std = (X - X.min(axis=0)) / (X.max(axis=0) - X.min(axis=0))
#X_scaled = X_std * (max - min) + min

In [30]:
df_copy['Train_Accuracy']

Ex1_Nb1     NaN
Ex2_Nb2     NaN
Ex3_Nb3     NaN
Ex4_Nb4     NaN
Ex5_Nb5     NaN
Ex6_Nb6     NaN
Ex7_Nb7     NaN
Ex8_Nb8     NaN
Ex9_Nb9     NaN
Ex10_Nb10   NaN
Ex11_Nb11   NaN
Ex12_Nb12   NaN
Ex13_Nb13   NaN
Ex14_Nb14   NaN
Ex15_Nb15   NaN
Ex16_Nb16   NaN
Ex17_Nb17   NaN
Ex18_Nb18   NaN
Ex19_Nb19   NaN
Ex20_Nb20   NaN
Name: Train_Accuracy, dtype: float64

In [45]:
df_copy['Train_Accuracy'].mean()

nan

In [46]:
df_copy['Train_F1_Score']

Ex1_Nb1          NaN
Ex2_Nb2          NaN
Ex3_Nb3          NaN
Ex4_Nb4          NaN
Ex5_Nb5          NaN
Ex6_Nb6          NaN
Ex7_Nb7          NaN
Ex8_Nb8          NaN
Ex9_Nb9          NaN
Ex10_Nb10        NaN
Ex11_Nb11        NaN
Ex12_Nb12        NaN
Ex13_Nb13        NaN
Ex14_Nb14        NaN
Ex15_Nb15        NaN
Ex16_Nb16        NaN
Ex17_Nb17        NaN
Ex18_Nb18    0.62000
Ex19_Nb19    0.93841
Ex20_Nb20        NaN
Name: Train_F1_Score, dtype: float64

In [47]:
df_copy['Train_F1_Score'].mean()

0.779205

In [49]:
df_copy['Validation_Accuracy']

Ex1_Nb1     NaN
Ex2_Nb2     NaN
Ex3_Nb3     NaN
Ex4_Nb4     NaN
Ex5_Nb5     NaN
Ex6_Nb6     NaN
Ex7_Nb7     NaN
Ex8_Nb8     NaN
Ex9_Nb9     NaN
Ex10_Nb10   NaN
Ex11_Nb11   NaN
Ex12_Nb12   NaN
Ex13_Nb13   NaN
Ex14_Nb14   NaN
Ex15_Nb15   NaN
Ex16_Nb16   NaN
Ex17_Nb17   NaN
Ex18_Nb18   NaN
Ex19_Nb19   NaN
Ex20_Nb20   NaN
Name: Validation_Accuracy, dtype: float64

In [50]:
df_copy['Validation_Accuracy'].mean()

nan

In [52]:
df_copy['Validation_F1_Score']

Ex1_Nb1     NaN
Ex2_Nb2     NaN
Ex3_Nb3     NaN
Ex4_Nb4     NaN
Ex5_Nb5     NaN
Ex6_Nb6     NaN
Ex7_Nb7     NaN
Ex8_Nb8     NaN
Ex9_Nb9     NaN
Ex10_Nb10   NaN
Ex11_Nb11   NaN
Ex12_Nb12   NaN
Ex13_Nb13   NaN
Ex14_Nb14   NaN
Ex15_Nb15   NaN
Ex16_Nb16   NaN
Ex17_Nb17   NaN
Ex18_Nb18   NaN
Ex19_Nb19   NaN
Ex20_Nb20   NaN
Name: Validation_F1_Score, dtype: float64

In [53]:
df_copy['Validation_F1_Score'].mean()

nan

In [54]:
df_copy['Test_Accuracy']

Ex1_Nb1     NaN
Ex2_Nb2     NaN
Ex3_Nb3     NaN
Ex4_Nb4     NaN
Ex5_Nb5     NaN
Ex6_Nb6     NaN
Ex7_Nb7     NaN
Ex8_Nb8     NaN
Ex9_Nb9     NaN
Ex10_Nb10   NaN
Ex11_Nb11   NaN
Ex12_Nb12   NaN
Ex13_Nb13   NaN
Ex14_Nb14   NaN
Ex15_Nb15   NaN
Ex16_Nb16   NaN
Ex17_Nb17   NaN
Ex18_Nb18   NaN
Ex19_Nb19   NaN
Ex20_Nb20   NaN
Name: Test_Accuracy, dtype: float64

In [55]:
df_copy['Test_F1_Score']

Ex1_Nb1     NaN
Ex2_Nb2     NaN
Ex3_Nb3     NaN
Ex4_Nb4     NaN
Ex5_Nb5     NaN
Ex6_Nb6     NaN
Ex7_Nb7     NaN
Ex8_Nb8     NaN
Ex9_Nb9     NaN
Ex10_Nb10   NaN
Ex11_Nb11   NaN
Ex12_Nb12   NaN
Ex13_Nb13   NaN
Ex14_Nb14   NaN
Ex15_Nb15   NaN
Ex16_Nb16   NaN
Ex17_Nb17   NaN
Ex18_Nb18   NaN
Ex19_Nb19   NaN
Ex20_Nb20   NaN
Name: Test_F1_Score, dtype: float64

In [57]:
df_copy['Delta_Between_Validation_And_Test']

Ex1_Nb1      NaN
Ex2_Nb2      NaN
Ex3_Nb3      NaN
Ex4_Nb4      NaN
Ex5_Nb5      NaN
Ex6_Nb6      NaN
Ex7_Nb7      NaN
Ex8_Nb8      NaN
Ex9_Nb9      NaN
Ex10_Nb10    NaN
Ex11_Nb11    NaN
Ex12_Nb12    NaN
Ex13_Nb13    NaN
Ex14_Nb14    NaN
Ex15_Nb15    NaN
Ex16_Nb16    NaN
Ex17_Nb17    NaN
Ex18_Nb18    NaN
Ex19_Nb19    NaN
Ex20_Nb20    NaN
Name: Delta_Between_Validation_And_Test, dtype: object

In [58]:
df_copy['Memory']

Ex1_Nb1      NaN
Ex2_Nb2      NaN
Ex3_Nb3      NaN
Ex4_Nb4      NaN
Ex5_Nb5      NaN
Ex6_Nb6      NaN
Ex7_Nb7      NaN
Ex8_Nb8      NaN
Ex9_Nb9      NaN
Ex10_Nb10    NaN
Ex11_Nb11    NaN
Ex12_Nb12    NaN
Ex13_Nb13    NaN
Ex14_Nb14    NaN
Ex15_Nb15    NaN
Ex16_Nb16    NaN
Ex17_Nb17    NaN
Ex18_Nb18    NaN
Ex19_Nb19    NaN
Ex20_Nb20    NaN
Name: Memory, dtype: object

In [59]:
df_copy['Physical_Size'] #Physical size of data set in hard disk

Ex1_Nb1          3.29
Ex2_Nb2          3.29
Ex3_Nb3      26830.00
Ex4_Nb4        429.60
Ex5_Nb5        429.60
Ex6_Nb6           NaN
Ex7_Nb7      33430.00
Ex8_Nb8        583.50
Ex9_Nb9        583.50
Ex10_Nb10      309.21
Ex11_Nb11      276.47
Ex12_Nb12      276.47
Ex13_Nb13      892.23
Ex14_Nb14        2.04
Ex15_Nb15     1260.00
Ex16_Nb16     1260.00
Ex17_Nb17    29100.00
Ex18_Nb18      139.31
Ex19_Nb19      139.31
Ex20_Nb20     2500.00
Name: Physical_Size, dtype: float64

In [60]:
df_copy['Physical_Size'].mean()

5181.4642105263165

In [62]:
df_copy['Vote_Count']

Ex1_Nb1       254
Ex2_Nb2       245
Ex3_Nb3       280
Ex4_Nb4       765
Ex5_Nb5       685
Ex6_Nb6       991
Ex7_Nb7       435
Ex8_Nb8       280
Ex9_Nb9       237
Ex10_Nb10     206
Ex11_Nb11     505
Ex12_Nb12     316
Ex13_Nb13     287
Ex14_Nb14     756
Ex15_Nb15    1044
Ex16_Nb16     467
Ex17_Nb17     169
Ex18_Nb18     489
Ex19_Nb19     208
Ex20_Nb20     641
Name: Vote_Count, dtype: int64

In [63]:
df_copy['Vote_Count'].mean()

463.0

In [66]:
df_copy['Last_Modified_Time'].value_counts() #Based on value counts, mean is 20.35 months

12 months ago    6
24 months ago    5
36 months ago    4
7 months ago     2
4 months ago     1
48 months ago    1
5 months ago     1
Name: Last_Modified_Time, dtype: int64

In [67]:
df_copy['Number_Of_Experiments'] #This is for notebook level

Ex1_Nb1      7
Ex2_Nb2      5
Ex3_Nb3      1
Ex4_Nb4      1
Ex5_Nb5      6
Ex6_Nb6      1
Ex7_Nb7      1
Ex8_Nb8      1
Ex9_Nb9      4
Ex10_Nb10    1
Ex11_Nb11    1
Ex12_Nb12    1
Ex13_Nb13    1
Ex14_Nb14    5
Ex15_Nb15    1
Ex16_Nb16    1
Ex17_Nb17    4
Ex18_Nb18    1
Ex19_Nb19    1
Ex20_Nb20    1
Name: Number_Of_Experiments, dtype: int64

In [68]:
df_copy['Number_Of_Experiments'].mean()

2.25

In [71]:
df_copy['Train_Mean_Absolute_Error']

Ex1_Nb1        NaN
Ex2_Nb2        NaN
Ex3_Nb3        NaN
Ex4_Nb4        NaN
Ex5_Nb5        NaN
Ex6_Nb6        NaN
Ex7_Nb7        NaN
Ex8_Nb8        NaN
Ex9_Nb9      65.84
Ex10_Nb10      NaN
Ex11_Nb11      NaN
Ex12_Nb12      NaN
Ex13_Nb13      NaN
Ex14_Nb14      NaN
Ex15_Nb15      NaN
Ex16_Nb16      NaN
Ex17_Nb17      NaN
Ex18_Nb18      NaN
Ex19_Nb19      NaN
Ex20_Nb20      NaN
Name: Train_Mean_Absolute_Error, dtype: object

In [72]:
df_copy['Train_Mean_Squared_Error']

Dimension Train_Mean_Squared_Error Train_Mean_Squared_Error
Ex1_Nb1                        NaN                      NaN
Ex2_Nb2                        NaN                      NaN
Ex3_Nb3                        NaN                      NaN
Ex4_Nb4                        NaN                      NaN
Ex5_Nb5                        NaN                      NaN
Ex6_Nb6                        NaN                      NaN
Ex7_Nb7                        NaN                      NaN
Ex8_Nb8                        NaN                      NaN
Ex9_Nb9                      65.84                    81.51
Ex10_Nb10                      NaN                      NaN
Ex11_Nb11                      NaN                      NaN
Ex12_Nb12                      NaN                      NaN
Ex13_Nb13                      NaN                      NaN
Ex14_Nb14                      NaN                      NaN
Ex15_Nb15                      NaN                      NaN
Ex16_Nb16                      NaN                      NaN
Ex17_Nb17                      NaN                      NaN
Ex18_Nb18                      NaN                      NaN
Ex19_Nb19                      NaN                      NaN
Ex20_Nb20                      NaN                      NaN

In [73]:
df_copy['Train_Root_Mean_Squared_Error']

Ex1_Nb1          NaN
Ex2_Nb2          NaN
Ex3_Nb3          NaN
Ex4_Nb4          NaN
Ex5_Nb5          NaN
Ex6_Nb6          NaN
Ex7_Nb7          NaN
Ex8_Nb8          NaN
Ex9_Nb9          NaN
Ex10_Nb10    5.47704
Ex11_Nb11        NaN
Ex12_Nb12        NaN
Ex13_Nb13        NaN
Ex14_Nb14        NaN
Ex15_Nb15        NaN
Ex16_Nb16        NaN
Ex17_Nb17        NaN
Ex18_Nb18        NaN
Ex19_Nb19        NaN
Ex20_Nb20        NaN
Name: Train_Root_Mean_Squared_Error, dtype: object

In [74]:
df_copy['Test_Root_Mean_Squared_Error']

Ex1_Nb1            0.27
Ex2_Nb2            0.99
Ex3_Nb3             NaN
Ex4_Nb4             NaN
Ex5_Nb5             NaN
Ex6_Nb6             NaN
Ex7_Nb7             NaN
Ex8_Nb8             NaN
Ex9_Nb9             NaN
Ex10_Nb10           NaN
Ex11_Nb11           NaN
Ex12_Nb12           NaN
Ex13_Nb13           NaN
Ex14_Nb14           NaN
Ex15_Nb15           NaN
Ex16_Nb16           NaN
Ex17_Nb17    7746113.97
Ex18_Nb18           NaN
Ex19_Nb19           NaN
Ex20_Nb20           NaN
Name: Test_Root_Mean_Squared_Error, dtype: object

In [77]:
df_copy['Test_Root_Mean_Sqaured_Error_Loss']

Ex1_Nb1         NaN
Ex2_Nb2         NaN
Ex3_Nb3         NaN
Ex4_Nb4         NaN
Ex5_Nb5       0.243
Ex6_Nb6         NaN
Ex7_Nb7         NaN
Ex8_Nb8         NaN
Ex9_Nb9         NaN
Ex10_Nb10       NaN
Ex11_Nb11       NaN
Ex12_Nb12       NaN
Ex13_Nb13    0.1257
Ex14_Nb14       NaN
Ex15_Nb15       NaN
Ex16_Nb16       NaN
Ex17_Nb17       NaN
Ex18_Nb18       NaN
Ex19_Nb19       NaN
Ex20_Nb20       NaN
Name: Test_Root_Mean_Sqaured_Error_Loss, dtype: object